.instimg {
	width:40%
}

#phoneimg {
	margin-left: 200px;
}

.bod1 {
	text-align: center;
	border-color:#FFFFFF;
	border-style: groove;
	float:right;
	width:50%;
}

#list1 {
	margin-bottom:20px;
}

.logwthfbook {
	width:40%
}

.signuptxt {
	font-family: Arial;
	color:#989898;
	font-size:15px;
	margin-left: 1px;
	margin-right: 1px;
}

#signupimg {
	margin-top: 10px;
	margin-bottom:10px;
	width:40%
}

#bodyfoot {
	text-align: center;
	clear:both;
	float: right;
	border-color:#FFFFFF;
	border-style: groove;
	width: 50%
}

#getapp {
	clear:both;
	float: right;
	font-family: Arial;
	font-size:12px;
}

#goostore {
	float:right;
	width:40%;
}

.foot1 {
	clear:both;
}